.side-bar
  .header
    .header__name
      Sample
    %ul.header__lists
      %li.list
        = fa_icon "cog", class: "icon"
      %li.list
        = fa_icon "edit", class: "icon"
  .groups
    .group
      .group__name
        Sample
      .group__message
        Sample
    .group
      .group__name
        Sample
      .group__message
        Sample
