.wrapper

  = render 'side-bar'

  .main
    .header
      .left-header
        .group__name
          Sample
        %ul.group__members
          %li.group__member
            Sample
          %li.group__member
            Sample
      .right-header
        Edit
    .messages
      .message
        .top-content
          .top-content__name
            Sample
          .top-content__date
            2019/09/09 00:00:00
        .bottom-content
          .bottom-content__text
            Sample
    .form
      %form
        %input.form__message{type: 'text'}
        %input.form__submit{type: 'submit', value: 'Send'}




